# Django settings
SECRET_KEY=
DEBUG=

# Postgresql DB settings
ENGINE=
NAME=
USER=
PASSWORD=
HOST=
PORT=

# Superuser
SUPERUSER_EMAIL=
SUPERUSER_PASSWORD=

# Celery settings
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

# Telegram token
TELEGRAM_TOKEN=

# DockerHub access
DOCKER_HUB_ACCESS_TOKEN=
DOCKER_HUB_USERNAME=

# Server
SERVER_IP=
SSH_USER=
SSH_PRIVATE_KEY=

# Telegramm Bot access
TELEGRAM_TOKEN=